@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: auto;
}

body {
    user-select: none;
    background-color: #000000;
    color: #ffffff;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    overflow: hidden;
}

#controller {
    background-color: #000000;
    color: #ffffff;
    position: fixed;
    height: 10vh;
    width: 100vw;
    z-index: 1;
}

#text-container, #text-display {
    width: 100vw;
    z-index: -1;
    background-color: #000000;
    color: #ffffff;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    border: 0px;
}

#text-container {
    height: 90vh;
    outline: none;
    resize: none;
}

#text-display {
    height: auto;
    overflow: hidden;
}