@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: auto;
}

body {
    user-select: none;
    background-color: #000000;
    color: #ffffff;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 1vw;
  }
  
  ::-webkit-scrollbar-track {
    background: #bbbbbb;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #555555;
  }

#controller {
    background-color: #111111;
    color: #ffffff;
    position: fixed;
    height: 10vh;
    width: 100vw;
    z-index: 1;
}

#text-container, #text-display {
    position: absolute;
    z-index: -1;
    background-color: #000000;
    color: #ffffff;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    border: 0px;
}

#text-container {
    outline: none;
    resize: none;
    overflow-y: scroll;
}

#text-display {
    height: auto;
    overflow: hidden;
    white-space: pre-wrap; 
    word-break: break-word;
}

#text-marker {
    position: absolute;
}

.transparent {
    opacity: 0.5;
    transition-property: opacity;
    transition-duration: 0.6s;
}

.visible {
    opacity: 1;
    transition-property: opacity;
    transition-duration: 0.6s;
}